.locations {
    img {
        height: 250px;
        width: 400px;
        text-align: center;  
    }
    button {
        margin-bottom: 25px;
    }
}

.menuDropdown {
    display: flex;
    padding-bottom: 50px;
    img {
            height: 250px;
            width: 250px;
            text-align: center;
    }
}